<div id="hours-content"></div>
<p>More detailed information is available on our <a href="https://library.kbcc.cuny.edu/calendar">hours</a> page.</p>

<script>

$(document).ready(function(){

$.ajax({
  url: "https://kbcc-cuny.libcal.com/widget/hours/grid?iid=5570&format=json&weeks=1&systemTime=0",
  type: 'GET',
  cache: false,
  dataType: 'jsonp'
})
  .done( function (data) {
    for (i = 0; i < data.locations.length; i++) {
      if (data.locations[i].lid === 16733) {
        for (let key in data.locations[i].weeks[0]) {
          hours = data.locations[i].weeks[0][key]["rendered"];
          let start_and_end = hours.split(" - ");
          let date = new Date(data.locations[i].weeks[0][key]["date"]);
          let today = new Date()
          const isToday = (today.toDateString() == date.toDateString());
          if (isToday) {
            if (start_and_end.length === 1) {
              document.getElementById("hours-content").innerHTML += "The library is CLOSED today.<br />"
            } else {
              let start = start_and_end[0];
              let end = start_and_end[1];
              let start_time = parseInt(start.replace(/\D/g, ""));
              let start_ampm = start.slice(-2);
              let end_time = parseInt(end.replace(/\D/g, ""));
              let end_ampm = end.slice(-2);
              if (start_ampm ===  "pm" && start_time != 12) { start_time += 12 };
              if (end_ampm === "pm" && end_time != 12) { end_time += 12 };
              console.log(today.getHours());
              let parsed_date = date.toLocaleDateString("en-US", { weekday: 'long', month: 'long', day: 'numeric' });
              if (start_time <= today.getHours() < end_time) {
                document.getElementById("hours-content").innerHTML += "The library is currently OPEN. Today's hours are " + hours + ".<br />"
              } else {
                document.getElementById("hours-content").innerHTML += "The library is currently CLOSED. Today's hours are " + hours + ".<br />"
              }
           }
         } 
        }   
      }
    }
  })
});

</script>
